@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #5bc87f;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#8aa039bc, #0e6125, #000000);
}

.banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

.banner .content {
  position: relative;
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  visibility: hidden;
}

.banner .content h2 {
  margin-bottom: -5px;
  color: #ffffff;
  font-size: 39px;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  padding: 25px 2px;
  animation: floating 3s ease-in-out infinite alternate;
}

.banner .content p {
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 27px;
  font-weight: 500;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  animation: floating 3s ease-in-out infinite alternate;
}

.banner header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  background: linear-gradient(#000000fc, #0000000e);
}

.banner header .logo {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 5px;
}

header .logo span {
  color: #1abd50;
  text-shadow: 0px 0px 10px rgb(8, 26, 1);
}

.banner header .logoimg {
  position: relative;
  left: 10px;
  width: 49px;
  height: 49px;
  background: url(src/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.about .content2 {
  background-color: #000000;
  padding: 100px;
  width: 49%;
}

.heading {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.text1 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

.text1 span1 {
  text-shadow: 0px 0px 12px #01ff49;
}

.text1 span2 {
  text-shadow: 0px 0px 12px #cdff07;
}

.text1 span3 {
  text-shadow: 0px 0px 12px #ff0707;
}

.about .arvore {
  background: url(src/arvore.jpg);
  width: 51%;
  background-size: cover;
  background-position: center;
}

.energias {
  padding: 100px;
  text-align: center;
  padding: 100px;
  text-align: center;
  position: relative;
  background: linear-gradient(#000000, #0b411a, #000000);
}

.energias::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc;
  margin: 30px;
}

.topico1 {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 5px;
}

.text {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}
.energias .container3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
  animation: floating 3s ease-in-out infinite alternate;
}

.energias .container3 .imagens {
  margin: 10px -10px;
  background: #fffffff6;
  width: 310px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50%;
}

.energias .container3 .imagens img {
  max-width: 70px;
}

.energias .container3 .imagens h2 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}

.energias .container3 .imagens p {
  font-size: 15.3px;
  margin-top: 11px;
  position: relative;
  top: -15px;
  font-weight: 400;
  padding: 12px;
}

.agricultura {
  padding: 100px;
  text-align: center;
  padding: 100px;
  text-align: center;
  position: relative;
  background: linear-gradient(#000000, #797b21, #000000);
}

.agricultura::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc;
  margin: 30px;
}

.topico2 {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 5px;
}

.textAgricultura {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}
.agricultura .container4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
  animation: floating 3s ease-in-out infinite alternate;
}

.agricultura .container4 .imagens2 {
  margin: 10px -10px;
  background: #fffffff6;
  width: 310px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50%;
}

.agricultura .container4 .imagens2 img {
  max-width: 125px;
}

.agricultura .container4 .imagens2 h2 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}

.agricultura .container4 .imagens2 p {
  font-size: 15px;
  margin-top: -15px;
  position: relative;
  top: -10px;
  font-weight: 400;
  padding: 10px;
}

.saude {
  padding: 100px;
  text-align: center;
  padding: 100px;
  text-align: center;
  position: relative;
  background: linear-gradient(#000000, #7b2121e9, #000000);
}

.saude::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc;
  margin: 30px;
}

.topico3 {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 5px;
}

.textSaude {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}
.saude .container5 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
  animation: floating 3s ease-in-out infinite alternate;
}

.saude .container5 .imagens3 {
  margin: 10px -10px;
  background: #fffffff6;
  width: 310px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50%;
}

.saude .container5 .imagens3 img {
  max-width: 125px;
  top: 0px;
}

.saude .container5 .imagens3 h2 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  top: 12px;
}

.saude .container5 .imagens3 p {
  font-size: 14px;
  margin-top: -20px;
  position: relative;
  top: -15px;
  font-weight: 400;
  padding: 12px;
}

.conclusao {
  background: linear-gradient(#000000, #353535);
  color: white;
  text-align: center;
  padding: 20px;
}

.conclusao::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc;
  margin: 30px;
}

.abafinal {
  padding: 7px;
}

.final {
  font-weight: 650;
  font-size: 30px;
  padding: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.textFinal {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 10px;
  margin-bottom: 50px;
}

@media (max-width: 764px) {
  .banner .content {
    max-width: 100%;
    padding: 0;
  }

  .banner header .logoimg {
    position: relative;
    left: 0px;
    width: 50px;
    height: 50px;
    background: url(src/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .banner header {
    padding: 25px 25px;
    background: linear-gradient(#000000e6, #0000000e);
  }

  /* Estilos da seção about */
  .about .content2 {
    padding: 50px;
    width: 100%;
    background: linear-gradient(#0d0d0def, #000000);
  }

  .about .imagemsus {
    width: 100%;
  }

  .heading::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #ccc;
    margin: 30px;
  }

  .energias {
    padding: 50px;
  }

  .text {
    font-size: 19px;
    margin: -5px;
    padding: -8px;
  }

  .energias::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #ccc;
    margin: 30px;
  }

  .energias .container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .energias .container3 .imagens {
    margin: 10px -20px;
    margin-bottom: 30px;
    text-align: center;
    padding: 18px;
    display: flex;
    justify-content: column;
  }

  .energias .container3 .imagens img {
    max-width: 60px;
    top: 5px;
  }

  .energias .container3 .imagens h2 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .energias .container3 .imagens p {
    font-size: 14.5px;
    margin-top: 15px;
    position: relative;
    top: -10px;
    font-weight: 400;
  }

  .agricultura {
    padding: 50px;
  }

  .textAgricultura {
    font-size: 19px;
    margin: -5px;
    padding: -8px;
  }

  .agricultura::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #ccc;
    margin: 30px;
  }

  .agricultura .container4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .agricultura .container4 .imagens2 {
    margin: 10px -20px;
    margin-bottom: 30px;
    text-align: center;
    padding: 18px;
    display: flex;
    justify-content: column;
  }

  .agricultura .container4 .imagens2 img {
    max-width: 120px;
    top: -3px;
  }

  .agricultura .container4 .imagens2 h2 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .agricultura .container4 .imagens2 p {
    font-size: 14.5px;
    margin-top: -25px;
    position: relative;
    top: -10px;
    font-weight: 400;
  }

  .saude {
    padding: 50px;
  }

  .textSaude {
    font-size: 19px;
    margin: -5px;
    padding: -8px;
  }

  .saude::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #ccc;
    margin: 30px;
  }

  .saude .container5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .saude .container5 .imagens3 {
    margin: 10px -20px;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: column;
  }

  .saude .container5 .imagens3 img {
    max-width: 125px;
    top: -10px;
  }

  .saude .container5 .imagens3 h2 {
    font-size: 20px;
    margin-top: 28px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .saude .container5 .imagens3 p {
    font-size: 14.5px;
    margin-top: -30px;
    position: relative;
    top: -10px;
    font-weight: 400;
  }

  .final {
    font-weight: 650;
    font-size: 30px;
    padding: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

html,
body {
  overflow-x: hidden;
}
