@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Poppins", sans-serif;
}

a:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #5bc87f;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#8aa039bc, #0e6125, #000000);
}

.banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

.banner .content {
  position: relative;
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  visibility: hidden;
}

.banner .content h2 {
  margin-bottom: -5px;
  color: #ffffff;
  font-size: 39px;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  padding: 25px 2px;
  animation: floating 3s ease-in-out infinite alternate;
}

.banner .content p {
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 27px;
  font-weight: 500;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  animation: floating 3s ease-in-out infinite alternate;
}

.indicar {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  top: 80%;
  left: 50%;
  cursor: pointer;
}

.indicar span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  border: none;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  animation: animar 1s linear infinite;
}

.indicar span:nth-child(1) {
  top: -30px;
  left: -30px;
  animation-delay: 0.1s;
}

.indicar span:nth-child(2) {
  top: -15px;
  left: -15px;
  animation-delay: 0.2s;
}

@keyframes animar {
  0% {
    border-color: #ffffff00;
    transform: translate(0px, 0px);
  }

  20% {
    border-color: #0fa011;
    transform: translate(10px, 10px);
  }

  20.1%,
  100% {
    border-color: #f4f4f4;
  }
}

.scroll-up {
  position: fixed;
  bottom: 30px;
  right: 10%;
  transform: translateX(45%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  border-radius: 50%;
  background: url(src/icons/voltar.svg);
  background-color: #ffffff5b;
  border: none;
  cursor: pointer;
}

.scroll-up.active {
  opacity: 0.8;
  visibility: visible;
}

.banner header .logo {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 5px;
  cursor: default;
}

.banner header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  background: linear-gradient(#000000fc, #0000000e);
  transition: 0.5s;
}

header.rolagem {
  background-color: #262626f6;
  padding: 25px 110px;
}

header .logo span {
  color: #1abd50;
  text-shadow: 0px 0px 10px rgb(8, 26, 1);
}

.banner header .logoimg {
  position: relative;
  width: 45px;
  height: 45px;
  background: url(src/icons/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.about .content2 {
  background: linear-gradient(#0d0d0def, #000000);
  padding: 100px;
  width: 49%;
}

.heading {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.text1 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

.text1 span1 {
  text-shadow: 0px 0px 12px #01ff49;
}

.text1 span2 {
  text-shadow: 0px 0px 12px #cdff07;
}

.text1 span3 {
  text-shadow: 0px 0px 12px #ff0707;
}

.about .arvore {
  background: url(src/icons/arvore.jpg);
  width: 51%;
  background-size: cover;
  background-position: center;
}

.energias {
  padding: 100px;
  text-align: center;
  padding: 100px;
  text-align: center;
  position: relative;
  background: linear-gradient(#000000, #0b411a, #000000);
}

.energias::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc;
  margin: 30px;
}

.topico1 {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 5px;
}

.text {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}
.energias .container3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
  animation: floating 3s ease-in-out infinite alternate;
}

.energias .container3 .imagens {
  margin: 10px -10px;
  width: 310px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(350deg, #41da12, #fcfffb, #f4f4f4);
  background-size: 100% 200%;
  background-position: 10% 200%; /* Inicia o gradiente na parte inferior */
  transition: transform 0.6s ease, background-position 0.7s ease-in-out;
  transform: rotateY(180deg);
}

.energias .container3 .imagens.active {
  transform: scale(1);
  background-position: 10% 0%;
  background-color: #fff;
}

.energias .container3 .imagens img {
  max-width: 110px;
  top: 30px;
  transition: 0.3s;
}

.energias .container3 .imagens.active img {
  max-width: 70px;
  top: 10px;
  transition: 0.3s;
}

.energias .container3 .imagens h2 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.energias .container3 .imagens.active h2 {
  opacity: 1;
}

.energias .container3 .imagens p {
  font-size: 15.3px;
  margin-top: 11px;
  position: relative;
  top: -15px;
  font-weight: 400;
  padding: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.energias .container3 .imagens.active p {
  opacity: 1;
}

.agricultura {
  padding: 100px;
  text-align: center;
  position: relative;
  background: linear-gradient(#000000, #797b21, #000000);
}

.agricultura::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc;
  margin: 30px;
}

.topico2 {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 5px;
}

.textAgricultura {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

.agricultura .container4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
  animation: floating 3s ease-in-out infinite alternate;
}

.agricultura .container4 .imagens2 {
  margin: 10px -10px;
  width: 310px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(350deg, #c9da12, #fcfffb, #f4f4f4);
  background-size: 100% 200%;
  background-position: 10% 200%;
  transition: transform 0.6s ease, background-position 0.7s ease-in-out;
  transform: rotateY(180deg);
}

.agricultura .container4 .imagens2.active {
  transform: scale(1);
  background-position: 10% 0%;
  background-color: #fff;
}

.agricultura .container4 .imagens2 img {
  max-width: 200px;
  top: 10px;
  transition: 0.3s;
}

.agricultura .container4 .imagens2.active img {
  max-width: 150px;
  top: 1px;
  transition: 0.3s;
}

.agricultura .container4 .drone img {
  max-width: 220px;
  top: 35px;
  transition: 0.3s;
}

.agricultura .container4 .drone.active img {
  max-width: 22px;
  top: 1px;
  transition: 0.3s;
}

.agricultura .container4 .imagens2 h2 {
  font-weight: 500;
  font-size: 20px;
  top: 32px;
  letter-spacing: 1px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.agricultura .container4 .imagens2.active h2 {
  opacity: 1;
}

.agricultura .container4 .imagens2 p {
  font-size: 15px;
  margin-top: -30px;
  position: relative;
  top: -15px;
  font-weight: 400;
  padding: 25px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.agricultura .container4 .imagens2.active p {
  opacity: 1;
}

.saude {
  padding: 100px;
  text-align: center;
  position: relative;
  background: linear-gradient(#000000, #7b2121);
}

.saude::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc;
  margin: 30px;
}

.topico3 {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 5px;
}

.textSaude {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

.saude .container5 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
  animation: floating 3s ease-in-out infinite alternate;
}

.saude .container5 .imagens3 {
  margin: 10px -10px;
  width: 310px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(350deg, #7b2121, #fcfffb, #f4f4f4);
  background-size: 100% 200%;
  background-position: 10% 200%;
  transition: transform 0.6s ease, background-position 0.7s ease-in-out;
  transform: rotateY(180deg);
}

.saude .container5 .imagens3.active {
  transform: scale(1);
  background-position: 10% 0%;
  background-color: #fff;
}

.saude .container5 .imagens3 img {
  max-width: 200px;
  top: 30px;
  transition: 0.3s;
}

.saude .container5 .imagens3.active img {
  max-width: 125px;
  top: 10px;
  transition: 0.3s;
}

.saude .container5 .imagens3 h2 {
  font-weight: 500;
  font-size: 20px;
  top: 30px;
  letter-spacing: 1px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.saude .container5 .imagens3.active h2 {
  opacity: 1;
}

.saude .container5 .imagens3 p {
  font-size: 15px;
  margin-top: 11px;
  position: relative;
  top: -35px;
  font-weight: 400;
  padding: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.saude .container5 .imagens3.active p {
  opacity: 1;
}

.conclusao {
  background: linear-gradient(#7b2121, #652323);
  color: white;
  text-align: center;
  padding: 80px;
}

.conclusao::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #ffffff;
  margin: 30px;
}

.abafinal {
  padding: 7px;
}

.final {
  font-weight: 650;
  font-size: 30px;
  padding: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
}

.textFinal {
  align-items: flex-start;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 10px;
  margin-bottom: 50px;
  text-align: left;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .sobre {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .sobre .section {
  margin-right: 30px;
}

footer .sobre .section.fin {
  width: 40%;
}

footer .sobre h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .sobre h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

footer p {
  color: #a7a7a7;
}

.social {
  margin-top: 20px;
  display: flex;
  font-size: 40px;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.social a {
  color: #f4f4f4;
}

.social a:hover {
  color: #06de;
  transition: 0.4s;
}

.links {
  position: relative;
  width: 20%;
}

.links ul li {
  list-style: none;
}

.links ul li a {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
}

.links ul li a:hover {
  color: #ff0000ee;
  transition: 0.5s;
}

.info {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.infos span {
  color: #fff;
}

.info .infos {
  position: relative;
}

.info .infos li {
  display: flex;
  margin-bottom: 16px;
}

.info ion-icon {
  font-size: 20px;
  margin-right: 10px;
  top: 5%;
}

span4 {
  color: rgba(203, 22, 22, 0.997);
}

.copyrightText {
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

html,
body {
  overflow-x: hidden;
}
